.Forms {
     float: left; /*Задаем обтекание*/
     line-height: 20px;/*Высота строки +  верт. центрирования текста*/
     font-size: 20px;
     color: white;
     background:rgb(17,24,27);
     margin-top: 30px;
     width: 350px; /*Фиксируем ширину блока*/
     margin-right: 20px;
     text-align: left; /*Центрируем текст по горизонтали*/
    }

.FormsDR {
     float: left; /*Задаем обтекание*/
     line-height: 20px;/*Высота строки +  верт. центрирования текста*/
     font-size: 20px;
     color: white;
     background:rgb(17,24,27);
     margin-top: 10px;
     width: 150px; /*Фиксируем ширину блока*/
     margin-right: 5px;
     text-align: left; /*Центрируем текст по горизонтали*/
    }

legend{
     color: yellow;
     font-size: 30px
}

body{
     background:rgb(17,24,27);
}
.FormSignup {
     font-size: 20px;
     color: white;

}
.FormLogin {
     font-size: 20px;
     color: white;

}
.FormProfil {
     font-size: 20px;
     color: white;

}
p{
    color: white;
}
.home{
     font-size: 20px;
     color: lime;
}
.Brakets {
     float: left; /*Задаем обтекание*/
     line-height: 20px;/*Высота строки +  верт. центрирования текста*/
     font-size: 20px;
     background:rgb(17,24,27);
     margin-top: 20px;
     width: 400px; /*Фиксируем ширину блока*/
     margin-right: 120px;
     text-align: left; /*Центрируем текст по горизонтали*/
     color: lime;
    }
input{
      margin-bottom: 10px;

}
p{
      margin-bottom: 5px;
      color:lime;

}
