<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">
    <display-name>Сервлет Controller</display-name>
    <!--
    Для любого сервлета нужно определить два тега servlet и servlet-mapping.
    Важно чтобы внутри каждого из этих тегов были теги servlet-name
    и имя сервлета в них было одинаковым!!! Здесь это имя HelloWorld
    -->
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>by.it.vchernetski.project.java.HelloWorld</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

<servlet>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>by.it.vchernetski.project.java.controller.FrontController</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/do</url-pattern>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>utfFilter</filter-name>
        <filter-class>by.it.vchernetski.project.java.filters.utfFilter</filter-class>
        <init-param>
            <param-name>encode</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>utfFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>by.it.vchernetski.project.java.filters.SessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FileImage</filter-name>
        <filter-class>by.it.vchernetski.project.java.filters.ImageFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FileImage</filter-name>
        <url-pattern>/image/*</url-pattern>
    </filter-mapping>
</web-app>