<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">


    <servlet>
        <servlet-name>HelloWebName</servlet-name>
        <servlet-class>by.it.markelov.jd03_04.java.HelloWeb</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloWebName</servlet-name>
        <url-pattern>/servlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>by.it.markelov.jd03_04.java.controller.FrontController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/do</url-pattern>
    </servlet-mapping>


</web-app>