<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">
    <description>
        helloworld app.
    </description>>
    <display-name>Test helloworld app</display-name>

    <servlet>
        <servlet-name>HelloWorldFromItAcademy</servlet-name>
        <servlet-class>by.it.karnilava.project04.HelloWorld</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloWorldFromItAcademy</servlet-name>
        <url-pattern>/helloworld/</url-pattern>
    </servlet-mapping>
</web-app>